.advantages {
    
    
}
.advantages-list{
    margin-bottom: -30px;
    
   &-text{
        // max-width: 270px;
    line-height: 1.71;
    color: var(--secondtext-color);
    }

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    }  

    
}

.advantages-item{
    margin-bottom: 30px;
    width: 100%;

@media screen and (min-width: 768px){
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 1200px){
    flex-basis: calc((100% - 120px) / 4);
    
}
}

.advantages-list-headers {
text-align: center ;
@media screen and (min-width: 768px){
    text-align: left;}
}

.advantages-item:not(:first-child){
    // margin-left: 30px;
}

.advantages-icon{
width: 100%;
height: auto;
margin-bottom: var(--typical-margin);
}
